<div class="mt-5 col-12" data-bookings-target="garage">
  <h2>My vehicles</h2>
  <% Car.where(user: current_user).each do |car| %>
    <div class="row mt-5">
      <div class="card">
        <img class="show-img" src=<%= car.photo.attached? ? cl_image_path(car.photo.key) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg' %> />
        <div class="col">
          <div class="row">
            <div class="col-12 col-md-10 ms-4">
              <div>
                <h1><strong><%= car.car_model %></strong></h1>
                <p><%= car.description %></p>
                <p class="border-bottom pb-3"><i class="fas fa-users"></i><strong> <%= car.capacity %> people</strong> | <i class="far fa-money-bill-alt"></i> <strong>¥<%= car.price_per_day %>/day</strong></p>
              </div>
              <div class="d-flex justify-content-center">
                <div class="col-12">
                  <h3>Update vehicle</h3>
                  <%= simple_form_for car do |f| %>
                    <%= f.input :car_model %>
                    <%= f.input :capacity %>
                    <%= f.input :description %>
                    <%= f.input :price_per_day %>
                    <%= f.input :photo, as: :file %>
                    <%= f.submit class: 'btn btn-primario mt-3'%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<%# <%= link_to car.car_model, car_path(car), class: 'btn btn-outline' %>

  <hr class="my-5">
  <h2>Booking requests</h2>
  <% if @cars.any? %>
  <% @cars.each do |booking| %>
    <div class="card-product mb-3 mt-3">
      <% if booking.car.photo.attached? %>
        <div style="background-image: url(<%= cl_image_path(booking.car.photo.key)%>); background-position: center; height: 120px; background-size: cover; width: 200px; padding: 0px;">
        </div>
      <% else %>
        <div style="background-image: url(/assets/not-available.jpg); filter: grayscale(100%); background-position: center; height: 120px; background-size: cover; width: 200px; padding: 0px;"></div>
      <% end %>
      <div class="d-flex w-100 card-product-infos justify-content-evenly align-items-center text-center">
        <div class="max-width">
          <h2><%= booking.car.car_model %></h2>
        </div>
        <div class="border-end pe-3">
          <p><i class="md-icon mb-2 fas fa-envelope"></i> Contact<br><strong><%= booking.car.user.email %></strong></p>
        </div>
        <div class="border-end px-5">
          <p><i class="md-icon mb-2 fas fa-calendar-alt"></i> From<br> <strong><%= booking.start_date %></strong></p>
        </div>
        <div class="border-end px-5">
          <p><i class="md-icon mb-2 fas fa-calendar-alt"></i> To<br> <strong><%= booking.end_date %></strong></p>
        </div>
        <div class="pe-5">
          <p><i class="md-icon mb-2 fas fa-shield-alt"></i> Status <br> <strong><%= booking.status %></strong></p>
        </div>
        <div class="border-start ps-5">
          <%= simple_form_for booking do |f| %>
            <%= f.input :status, collection: Booking.statuses.keys, include_blank: false, label: false %>
            <%= f.submit class: 'btn btn-primario w-100 rounded-input' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
    <p>No reservations made.</p>
  <% end %>
</div>
