<div class="container mt-5 col-12" data-controller="bookings">
  <div class="d-flex align-items-center mb-5 border-bottom pb-3">
    <h1 class="mb-0"><strong>My page</strong></h1>
    <button class="btn btn-primario ms-5"
            data-action="click->bookings#displayBookings"
            data-disable-button-target="button">
      My Bookings
    </button>
    <button class="btn btn-primario ms-2"
            data-action="click->bookings#display"
            data-disable-button-target="button">
      My vehicles
    </button>
  </div>
<%= render 'garage' %>
<div data-bookings-target="myBookings">
<h2>My bookings</h2>
  <% @bookings.each do |booking| %>
  <div class="card-product mb-3 mt-3">

    <% if booking.car.photo.attached? %>
      <div style="background-image: url(<%= cl_image_path(booking.car.photo.key)%>); background-position: center; height: 120px; background-size: cover; width: 200px; padding: 0px;">
      </div>
    <% else %>
      <div style="background-image: url(/assets/not-available.jpg); filter: grayscale(100%); background-position: center; height: 120px; background-size: cover; width: 200px; padding: 0px;"></div>
    <% end %>


    <div class="d-flex w-100 card-product-infos justify-content-evenly align-items-center text-center">
      <div class="max-width">
        <h2><%= booking.car.car_model %></h2>
      </div>
      <div class="border-end pe-5 ps-5">
        <p><i class="md-icon mb-2 fas fa-envelope"></i><br><strong><a href="#">Contact</a></strong></p>
      </div>
        <div class="border-end px-5">
          <p><i class="md-icon mb-2 fas fa-calendar-alt"></i> From<br> <strong><%= booking.start_date %></strong></p>
        </div>
        <div class="border-end px-5">
          <p><i class="md-icon mb-2 fas fa-calendar-alt"></i> To<br> <strong><%= booking.end_date %></strong></p>
        </div>
        <div class="border-end px-5">
          <p><i class="md-icon mb-2 fas fa-shield-alt"></i> Status <br> <strong><%= booking.status %></strong></p>
        </div>
        <div class="px-5">
          <p><i class="md-icon mb-2 far fa-money-bill-alt"></i> Total <br><strong>¥<%= (booking.car.price_per_day * (booking.end_date - booking.start_date)).to_i %></strong></p>
        </div>
    </div>
  </div>
  <% end %>
</div>
