<h1>Your bookings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Car</th>
      <th>Owner's Contact</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td style="background-image: url(https://source.unsplash.com/random/cars)"></td>
        <td><%= booking.car.car_model %></td>
        <td><%= booking.car.user.email %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
