<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-3 px-3">
  <div class="container-fluid mx-2">
    <%= link_to '', cars_path, class: 'fas big-icon fa-shuttle-van navbar-brand' %>

    <%= form_tag root_path, method: :get, class: 'd-flex' do %>
      <%= text_field_tag :q,
        params[:q],
        class: "form-control input me-3",
        placeholder: "Find by model"
      %>
      <%= text_field_tag :address,
        params[:address],
        class: "form-control input me-3",
        placeholder: "Find by location"
      %>
      <%= submit_tag "Search", class: "btn btn-primario" %>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", cars_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My page", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown ms-3">
            <%= image_tag "https://source.unsplash.com/50x50/?person", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Add a car", new_car_path, class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
