
<div class="card-trip">
  <%= link_to "", car_path(car), class: 'card-category-link' %>
  <img src="<%= car.photo.attached? ? cl_image_path(car.photo.key) :  'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg' %>" />
  <div class="card-trip-infos">
    <div class="description-capacity">
      <h3><%= car.car_model %></h2>
      <p><%= car.description %></p>
      <p><i class="fas fa-users me-2"></i><%= car.capacity %></p>
    </div>
    <p class="card-trip-pricing"><i class="far fa-money-bill-alt me-2"></i>¥<%= car.price_per_day %></h2>
  </div>

</div>
