<div class="card-trip">
  <img src="<%= car.photo.attached? ? cl_image_path(car.photo.key) :  'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg' %>" />
  <div class="p-3">
          <h2> <%= car.car_model %> </h2>
          <div class="d-flex">
            <p class="me-3"><i class="far fa-money-bill-alt"></i> ¥<%= car.price_per_day %></p>
            <p class="me-3"><i class="fas fa-users"></i> <%= car.capacity %></p>
            <p><i class="fas fa-map-marker"></i> <%= car.address %></p>
          </div>
        </div>
</div>
