<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>No Camp No Life</h1>
    <p>Get the wheels for the adventure of your life!</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
<div class="container">
  <div class="row">
      <%= @cars.each do |car| %>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="card-trip mt-5">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= car.car_model %> </h2>
              <p><%= car.capacity %></p>
              <p><%= car.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= car.price_per_day %></h2>
          </div>
        </div>
    </div>
      <% end %>
  </div>
</div>
