<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-6 col-xl-4 col-xxl-4 my-5">
      <h1>Add car</h1>
      <%= simple_form_for @car do |f| %>
        <%= f.input :car_model, input_html: { class: "input" } %>
        <%= f.input :capacity, input_html: { class: "input" } %>
        <%= f.input :description, input_html: { class: "input" } %>
        <%= f.input :price_per_day, input_html: { class: "input" } %>
        <%= f.input :address,
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } },
              input_html: { data: { geocoder_target: 'address' }, class: 'd-none' } %>
        <%= f.input :photo, as: :file, input_html: { class: "input" } %>
        <%= f.submit class: 'btn btn-primario mt-3'%>
      <% end %>
    </div>
  </div>
</div>
