<div class="container">
  <div class="row mt-5">
    <% if @my_car %>
      <%= render 'update_form' %>
    <% else %>
      <div class="card">
        <img class="show-img me-5" src=<%= @car.photo.attached? ? cl_image_path(@car.photo.key) : '/assets/not-available.jpg' %> />
        <div class="col">
          <div class="row">
            <div class="col-12 col-md-10 ms-4">
              <div>
                <h1><strong><%= @car.car_model %></strong></h1>
                <p><%= @car.description %></p>
                <div class="border-bottom d-flex">
                  <p class="me-3"><i class="fas fa-users"></i> <%= @car.capacity %></p>
                  <p class="me-3"><i class="fas fa-map-marker"></i> <%= @car.address %></p>
                  <p class="pb-3"><i class="far fa-money-bill-alt"></i> ¥<%= @car.price_per_day %>/day</p>
                </div>
              </div>
            </div>
          </div>
        <%= render 'bookings/form' %>
      </div>
    </div>
    <%= render 'map' %>
  <% end %>
</div>
