<div class="container">
  <div class="row mt-5">
    <div >
      <div class="card">
        <img class="show-img" src=<%= @car.photo.attached? ? cl_image_path(@car.photo.key) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg' %> />
      <div class="col">
      <div class="row">
        <div class="col-12 col-md-10 ms-4">
          <div>
            <h1><strong><%= @car.car_model %></strong></h1>
            <p><%= @car.description %></p>
            <p class="border-bottom pb-3"><i class="fas fa-users"></i><strong> <%= @car.capacity %> people</strong> | <i class="far fa-money-bill-alt"></i> <strong>¥<%= @car.price_per_day %>/day</strong></p>
          </div>
        </div>
      </div>
      <%= render 'bookings/form' %>
    </div>
  </div>

</div>
