<<<<<<< Updated upstream
<div class="container">
  <h1>Car show page</h1>
</div>

  <div class="container">
    <h1><%= @car.car_model %></h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        </div>
      </div>
      <div class="col mx-2">
        <%= render 'bookings/form' %>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mx-2">
        <div class="discription my-3">
          <p><%= @car.description %></p>
          <p><%= @car.capacity %></p>
          <p><%= @car.price_per_day %></p>
        </div>
      </div>
    </div>
  </div>
